@font-face {
    font-family: 'Gilroy' , sans-serif;
    font-weight: 500;
    src: url(fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: 'Gilroy' , sans-serif;
    font-weight: 700;
    src: url(fonts/Gilroy-Bold.ttf);
}

body{
    font-family: 'Inter', sans-serif;
    min-width: 360px;
    font-style: normal;
    /* height: 531px; */
}

/* main content */
.main__content{
    width: 337px;
    padding: 25px 12px 16px 11px;
    margin-left: auto;
    margin-right: auto;
    background: url(img/Group1001mob.svg) no-repeat;
}

.content__title{
    color: #000;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-left: 2px;
}
.content__title b{
    font-size: 32px;
}

.content__text{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; 
}

.main__buttons{
    display: flex;
    justify-content: space-between;
}

.button{
    display: flex;
    align-items: center;
    width: 157px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 2px solid #A30040;
    line-height: 19.2px;
    text-decoration: none;
    justify-content: space-around;
}

.button--order{
    background: #A30040;
    color: #FFF;
    font-size: 13px;   
    font-weight: 700;
}

.button--catalog{
    background: #FFF;
    color: #A30040;
    font-size: 12px;
    font-weight: 600;
}




/* slider */


.main__slider{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.main__slider-2{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: none;
    flex-direction: column;
}
.slide-1{
    background: url(img/memorial.png), url(img/bg-slider-1.png);
    background-position:87% 74%, 0 -4px;
    background-repeat: no-repeat;
    padding-top: 53px;
    padding-bottom: 23px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}


.slide-2{
    padding-top: 9px;
    padding-bottom: 25px;
    display: none;
    position: relative;
    background: url(img/memorial.png);
    background-position:-5% 40%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.slide-1::before,
.slide-2::before{
    content: "";
    position: absolute;
    top: -2px;
    right: 0px;
    width: 187px;
    height: 31px;
    background: url(img/decoratespecialmob.png) no-repeat;
    pointer-events: none;
}

.slide-1::after,
.slide-2::after{
    content: "спецпредложение";
    color: #FFF;
    font-size: 12px;
    font-family: Akaya Kanadaka;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform:uppercase;
    position: absolute;
    top: 9px;
    right: 16px;
    pointer-events: none;
}

.slider__title-first-slide{
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12.8px; 
    width: 208px;
    margin-bottom: 10px;
    /* margin-left: -140px; */
    margin-top: 0px;
}

.slider__title-first-slide b{
    font-size: 20px;
    line-height: 25.6px; 
    font-weight: 500;
}


.slider__list{
    display: flex;
    padding: 0;
    margin-top: 0px;
    flex-direction: column;
}

.slider__list--first-slide{
    margin-left: 10px; 
    margin-bottom: 23px;
    color: #FFF;
    list-style: none;
    text-align: center;
    font-size: 11.8px;
    font-weight: 300;
    line-height: 10px;
    width: 187px;
}

.slider__item,
.slider__del-price{
    height: 21px;
}
.slider__price{
    height: 35px;
}


.slider__list--second-slide{
    margin: 48px 0 0 142px;
    width: 218px;
    height: 208px;
    color: #293775;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    padding-bottom: 0;
    /* list-style: none; */
    justify-content: space-evenly;
}

.slider__item--caption{
    padding-left: 0;
    list-style: none;
    margin-left: -20px;
}


.slider__del-price{
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 12px;
    line-height: 24.96px;
}

.slider__price{
    font-size: 20px;
    line-height: 38.4px;
}



.prev-button,
.next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #A30040;
  z-index: 1;
}

.prev-button {
    left: 0%;
  }
  
  .next-button {
    right: 0%;
  }

  .container-slider{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    }




@media(min-width:744px){
    body{
        min-width: 744px;
    }

    .container-slider{
    width: 744px;
    margin-left: auto;
    margin-right: auto;
    }

    .main__content{
        background: url(img/Group1001.svg) no-repeat;
        width: 499px;
        padding: 28px 97px 30px 148px;
        margin-left: auto;
        margin-right: auto;
    }

    .content__text{
        font-size: 12px;
        font-weight: 400;
        line-height: 150%; 
        margin-top: 6px;
        width: 501px;
    } 

    .button{
        width: 172px;
    }

    .button--order{
        background: #A30040;
        color: #FFF;
        font-size: 15px;   
        font-weight: 700;
    }
    
    .button--catalog{
        background: #FFF;
        color: #A30040;
        font-size: 16px;
        font-weight: 600;
    }

    .content__title{
        margin-bottom: 6px;
        margin-top: 11px;
    }

    
    

    .main__buttons{
        justify-content: flex-start;
        column-gap: 44px;
    }

    .main__slider{
        width: 744px;
        margin-left: auto;
        margin-right: auto;
        background: url(img/memorial.png), url(img/bg-tablet.png);
        background-position:50% 90%, 0% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
    }
    .main__slider-2{
        width: 744px;
        margin-left: auto;
        margin-right: auto;
        background: url(img/memorial.png), url(img/bg-tablet.png);
        background-position:50% 90%, 0% 100%;
        background-repeat: no-repeat;
        display: none;
        flex-direction: row;
    }

    .slide-1{
        background: none;
        width: 445px;
        padding: 0;
    }

    .slide-2{
        padding-top: 0;
        padding-bottom: 0;
        width: 299px;
        display: block;
        background: none;
    }

    .slide-2::before{
        width: 207px;
        height: 41px;
        background: url(img/decoratespecial.png) no-repeat;
        font-size: 16px;
        pointer-events: none;
    }
    
    .slide-2::after{
        font-size: 16px;
        top: 9px;
        right: 11px;
    }

    .slider__list--first-slide{
        margin-left: 50px;
        color: #FFF;
        list-style: none;
        text-align: center;
        font-size: 11.8px;
        font-weight: 300;
        line-height: 10px;
        width: 230px;
    }

    .slider__list--second-slide{
        margin-left: 80px;
        margin-top: 57px;
    }

    .slider__title-first-slide{
        margin-top: 22px;
        margin-left: 60px;
        margin-bottom: 10px;
    }

    slider__title-first-slide b{
        font-size:32px;
    }

    .slider__del-price{
        text-decoration: line-through;
        color: #8B8B8B;
        font-size: 18.8px;
        line-height: 24.96px;
    }

    .slider__price{
        font-size: 32px;
    }
}


@media(min-width:1920px){
    body{
        min-width: 1920px;
        position: relative;
    }
    main{
        display: flex;
        background: url(img/memorial\ desktop.png),url(img/decoratedesktop.png), url(img/bg-left-slider-desktop.png), linear-gradient(295deg, white 25%, transparent 25.1%), url(img/bg-middle-slider-desktop.png), url(img/Group1001desktop.png);
        background-repeat: no-repeat;
        background-position: 83% 50%, 107% 0, 0%, 80%, 100%, 0;
        position: absolute;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    /* background-image: linear-gradient(220deg, white 15%, transparent 16%), linear-gradient(320deg, white 15%, transparent 16%); */

    .main__content{
        background: none;
        margin-left: 210px;
        padding-top: 60px;
        padding-bottom: 33px;
    }

    .main__slider,
    .main__slider-2{
        background: none;
        flex-direction: row;
    }


    .content__title{
        font-size: 24px;
        margin-bottom: 14.5px;
    }
    .content__title b{
        font-size: 48px;
    }

    .content__text{
        font-size: 15px;
        margin-bottom: 14.5px;
    }

    .slider__title-first-slide{
        font-size: 16px;
        margin-top: 92px;
    }
    .slider__title-first-slide b{
        font-size: 32px;
        margin-top: 5px;
        line-height: 38.6px;
    }

    .slider__list--second-slide{
        margin-top: 92px;
        font-size: 16px;
        width: auto;
        margin-left: 74px;
    }

    .slider__item--caption{
    height: 30px;
    }

    .slide-2::before,
    .slide-1::before{
        background: none;
        content: "";
        pointer-events: none;
    }
    .slide-1::after{
        background: none;
        content: "";
    }

    .slide-2::after{
        font-size: 20px;
        right: 70px;
        top:-3px;
    }

    .slider__list--first-slide{
        row-gap: 5px;
    }
}
.container-slider{
    position: relative;
}
